.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 30px;
    position: relative;
    top: -200px;
}

.cart{
    position: absolute;
    background-color: #8ab0d1;
    border-radius: 50%;
    /* padding: 3px; */
}

.cart img{
    padding: 5px;
    top: 10px;
    right: -215px;
    max-width: 20px;
    max-height: 20px;
}

.selected-products {
    border: 1px solid rgb(94, 119, 226);
    padding: 7px;
    border-radius: 20px 0px 0px 20px;
    overflow-y: scroll;
    height: 50vh;
    width: 100%;
    margin: 20px;
}

.selected-products div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 10px;
}

.selected-products .btn {
    position: relative;
    right: 0px;
    top: 50%;
    background-color: #e7060682;
    margin-bottom: 10px;
}

.selected-products .btn:hover {
    background-color: #e70606e8;
}


.selected-products img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.selected-products .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

hr {
    outline: 1px #e7060682;
    width: 80%;
}

@media screen and (min-width: 320px) and (max-width: 635px) {
    .selected-products {
        width: 100vh;
        height: 70vh;
    }

}

@media screen and (max-width: 995px) and (min-width: 635px) {
    .selected-products {
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, auto);
        height: auto;
    }

    .selected-products .btn {
        top: 10%;
        margin: auto;
        margin-bottom: 37px;
    }
}